{{#if currentUser}}

<div class="bytitle">
  <div class="imgbytitle">
    <img alt="{{book.title}}" src="{{book.image}}">
  </div>
  <div class="descriptionbytitle">
    <h1>{{book.title}}</h1>
    <h3>- by {{book.author}}</h3>
    <p><strong>Published: </strong>{{book.publication_date}} <br>by {{book.publisher}}</p>
    <p><strong>Total pages: </strong>{{book.pages}}</p>
  </div>
</div>
<div class="description">
  <h3>Description:</h3>
  <p>{{book.description}}</p>

</div>
<div class="genres">
  <p>Genres:</p>
  {{#each book.genre}}
  <ul>
    <li>
      <a href="/genre/{{cleanUp this}}">{{this}}</a>
    </li>
  </ul>
  {{/each}}
</div>


<form class="addfavorites" action="/fave/add/{{book._id}}" method="POST">
  <button type="submit">ADD BOOK TO YOUR FAVORITE LIST</button>
</form>

<div class="leavecomment">
  <h3>Leave a comment about {{book.title}}: </h3>
  <form action="/addComment" method="POST">
    <textarea rows="5" cols="100" name="comment" placeholder="Enter comment here"></textarea>
    <input name="bookId" value="{{book._id}}" hidden>
    <input type="submit">
  </form>
</div>


{{#each comments}}
<div class="usercomments">
  <div class="userinfo">
    <h3>{{username}}:</h3>
    <img src="{{user_id.avatar}}" alt="">
  </div>
  <div class="comment">

    <p class="text-comment">{{text}}</p>

<div class="edit-delete">
  <a href="/comment/edit?id={{_id}}">Edit</a> <a href="/title/delete?id={{_id}}">Delete</a>
</div>
  </div>
</div>
{{/each}}





{{else}}
<div class="bytitle">
  <div class="imgbytitle">
    <img alt="{{book.title}}" src="{{book.image}}">
  </div>
  <div class="descriptionbytitle">
    <h1>{{book.title}}</h1>
    <h3>- by {{book.author}}</h3>
    <p><strong>Published: </strong>{{book.publication_date}} <br>by {{book.publisher}}</p>
    <p><strong>Total pages: </strong>{{book.pages}}</p>
  </div>
</div>
<div class="description">
  <h3>Description:</h3>
  <p>{{book.description}}</p>

</div>
<div class="genres">
  <p>Genres:</p>
  {{#each book.genre}}
  <ul>
    <li>
      <a href="/genre/{{cleanUp this}}">{{this}}</a>
    </li>
  </ul>
  {{/each}}
</div>
<div class="notlogin">
<h3>Sign in to leave reviews and to add this book to your favorite list <a href="/login">here!</a></h3>
</div>


{{#each comments}}
<div class="usercomments">
  <div class="userinfo">
    <h3>{{username}}:</h3>
    <img src="{{user_id.avatar}}" alt="">
  </div>
  <div class="comment">

    <p class="text-comment">{{text}}</p>

<div class="edit-delete">
  <a href="/comment/edit?id={{_id}}">Edit</a> <a href="/title/delete?id={{_id}}">Delete</a>
</div>
  </div>
</div>
{{/each}}



{{/if}}