<div class="perfil">
  <h1>WIKI BOOK PROFILE</h1>
  <h2>"{{currentUser.username}}"</h2>
</div>

<div class="perfilphoto">
  <img src="{{currentUser.avatar}}" alt="">
  <a href="/pictureProfile/edit?id={{currentUser._id}}">EDIT</a>
</div>

<div class="yourcomments">
<h3>Your Comments:</h3>
</div>



{{#each comments}}
<div class="usercomments">
  <div class="comment">

    <p class="text-comment">{{text}}</p>

<div class="edit-delete">
  <a href="/commentAuthor/edit?id={{_id}}">Edit</a> 
  <a href="/author/delete?id={{_id}}">Delete</a>
</div>
  </div>
</div>
{{/each}}




<div>
  <script>

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          const image = document.getElementById('usernamePic');
          image.setAttribute('src', e.target.result);
        };

        reader.readAsDataURL(input.files[0]);
      }
    }

  </script>
</div>

<h3 class="yourcomments">Your Favorite Books:</h3>


{{#each user.favoriteBooks}}
<div class="byauthor">
  <div class="bytitle">
  <div class="imgbytitle">
    <img alt="{{title}}" src="{{image}}">
  </div>
  <div class="descriptionbytitle">
    <h1><a href="/title?title={{title}}">{{title}}</a></h1>
    <p><strong>Published: </strong>{{publication_date}} <br>by {{publisher}}</p>
    
  </div>
  </div>
  <form class="edit-delete" action="/fave/delete/{{book._id}}" method="POST">
    <button type="submit">DELETE</button>
  </form>
  </div>
{{/each}}





{{!-- 

<div>
  {{#each user.favoriteBooks}}
  <img alt="{{title}}" src="{{image}}">
  <h2><a href="/title?title={{title}}">{{title}}</a></h2>
  <p>Published {{publication_date}} by {{publisher}}</p>
  <form action="/fave/delete/{{book._id}}" method="POST">
    <button type="submit">DELETE</button>
  </form>
  {{/each}}
</div> --}}